@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.smallContainer {
    min-width: 35%;
}

.header {
    background-color: teal;
    padding: 10px 20px;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.taskListContainer {
    background: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}